$margin-card: 15px;
.user-panel {
    > * {
        display: inline-block;
    }
    background: gray;
    .left-side {
        width: 30%;
    }
    .right-side {
        width: calc(70%);
    }
    .card {
        background: yellow;
        .links * {
            display: block;
            width: 100%;
            color: blue;
            cursor: pointer;
        }
    }
    .cards-list > * {
        display: block;
        margin: 5px;
    }
}